In [56]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import networkx as nx
import igraph as ig
from tqdm import tqdm
import numpy as np
from scipy import sparse

In [127]:
df1 =pd.DataFrame([[101,[1,2,2,2,2,6,4,2,8,1,2,5,9]],[102,[2,3,5,2,6,10,2]],[103,[2,4,1,7,1,5,8,2,1]],[104,[3,3,9,4,1,7,1,8,1,2,3]]],columns=['uid','appid'])

In [128]:
#把里面所有元素转化为字符串格式
df1['appid'] = df1['appid'].apply(lambda x:[str(i) for i in x])

# 列表格式和铺平格式相互转化

In [129]:
def flatten_active(df): 
    df['app_len'] = df['appid'].apply(lambda x: len(x))
    u = []
    a = []
    for i in tqdm(range(len(df['appid'].values))):
        u += [df['uid'].values[i]]*df['app_len'].values[i]
        a += list(df['appid'].values[i])
        
    new_df = pd.DataFrame()
    new_df['uid'] = u
    new_df['appid'] = a
        
    return new_df

In [130]:
df1

   uid                                    appid
0  101  [1, 2, 2, 2, 2, 6, 4, 2, 8, 1, 2, 5, 9]
1  102                   [2, 3, 5, 2, 6, 10, 2]
2  103              [2, 4, 1, 7, 1, 5, 8, 2, 1]
3  104        [3, 3, 9, 4, 1, 7, 1, 8, 1, 2, 3]

In [131]:
df2 = flatten_active(df1)

100%|████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<?, ?it/s]

In [132]:
df2

    uid appid
0   101     1
1   101     2
2   101     2
3   101     2
4   101     2
5   101     6
6   101     4
7   101     2
8   101     8
9   101     1
10  101     2
11  101     5
12  101     9
13  102     2
14  102     3
15  102     5
16  102     2
17  102     6
18  102    10
19  102     2
20  103     2
21  103     4
22  103     1
23  103     7
24  103     1
25  103     5
26  103     8
27  103     2
28  103     1
29  104     3
30  104     3
31  104     9
32  104     4
33  104     1
34  104     7
35  104     1
36  104     8
37  104     1
38  104     2
39  104     3

In [43]:
df2[['uid','appid']].groupby(['uid'])['appid'].apply(lambda x:list(x)).reset_index()

   uid                                              appid
0  101  [1,  , 2,  , 2,  , 2,  , 2,  , 6,  , 4,  , 2, ...
1  102         [2,  , 3,  , 5,  , 2,  , 6,  , 1, 0,  , 2]
2  103  [2,  , 4,  , 1,  , 7,  , 1,  , 5,  , 8,  , 2, ...
3  104  [3,  , 3,  , 9,  , 4,  , 1,  , 7,  , 1,  , 8, ...

# 词袋和tfidf模型挖掘

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import TruncatedSVD

In [21]:
df1['appid'] = df1['appid'].map(lambda x:" ".join(x))

In [24]:
tf_vec = TfidfVectorizer(lowercase=False,ngram_range=(1,1),dtype=np.float32,min_df=0.001,token_pattern='(?u)\\b\\w+\\b')

In [34]:
cv_vec = CountVectorizer(lowercase=False,ngram_range=(1,1),dtype=np.float32,min_df=0.001,token_pattern='(?u)\\b\\w+\\b')

In [83]:
full_tfidf = tf_vec.fit_transform(df1['appid']).toarray()
full_cvidf =cv_vec.fit_transform(df1['appid']).toarray()
full_tfidf = pd.DataFrame(full_tfidf,dtype='float16').add_prefix('tf-idf')
full_cvidf = pd.DataFrame(full_cvidf,dtype='float16').add_prefix('count-vec')
full_df = pd.concat([df1[['uid']],full_tfidf,full_cvidf],axis=1)

In [88]:
full_df

,uid,tf-idf0,tf-idf1,tf-idf2,tf-idf3,tf-idf4,tf-idf5,tf-idf6,tf-idf7,tf-idf8,...,count-vec0,count-vec1,count-vec2,count-vec3,count-vec4,count-vec5,count-vec6,count-vec7,count-vec8,count-vec9
0,101,0.342529,0.000000,0.839844,0.000000,0.171265,0.171265,0.211426,0.000000,0.171265,...,2.0,0.0,6.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1,102,0.000000,0.442627,0.693359,0.349121,0.000000,0.282715,0.349121,0.000000,0.000000,...,0.0,1.0,3.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,103,0.745605,0.000000,0.406250,0.000000,0.248413,0.248413,0.000000,0.306885,0.248413,...,3.0,0.0,2.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
3,104,0.562500,0.000000,0.153320,0.694824,0.187500,0.000000,0.000000,0.231567,0.187500,...,3.0,0.0,1.0,3.0,1.0,0.0,0.0,1.0,1.0,1.0

In [85]:
sparse_df = sparse.csr_matrix(full_df)

In [126]:
df2

    uid appid
0   101     1
1   101
2   101     2
3   101
4   101     2
..  ...   ...
72  104     1
73  104
74  104     2
75  104
76  104     3

[77 rows x 2 columns]

In [145]:
app_dict = dict(zip(df2.appid.unique().tolist(),np.arange(len(df2.appid.unique()))))

In [146]:
app_dict

{'1': 0,
 '2': 1,
 '6': 2,
 '4': 3,
 '8': 4,
 '5': 5,
 '9': 6,
 '3': 7,
 '10': 8,
 '7': 9}

In [ ]:
c_vec1 = CountVectorizer(lowercase=False,ngram_range=(1,1),dtype=np.int8)

In [149]:
df1

   uid                                    appid  app_len
0  101  [1, 2, 2, 2, 2, 6, 4, 2, 8, 1, 2, 5, 9]       13
1  102                   [2, 3, 5, 2, 6, 10, 2]        7
2  103              [2, 4, 1, 7, 1, 5, 8, 2, 1]        9
3  104        [3, 3, 9, 4, 1, 7, 1, 8, 1, 2, 3]       11

In [110]:
x_train = sequence.pad_sequences(df1['appid'], maxlen=10)

In [111]:
x_train

array([[ 2,  2,  6,  4,  2,  8,  1,  2,  5,  9],
       [ 0,  0,  0,  2,  3,  5,  2,  6, 10,  2],
       [ 0,  2,  4,  1,  7,  1,  5,  8,  2,  1],
       [ 3,  9,  4,  1,  7,  1,  8,  1,  2,  3]])

# 从聚合的角度挖掘

In [246]:
from collections import Counter
#用户行为的gini不纯度与熵
def Gini(pr):
    cate=Counter(pr)
    gini=1
    total=len(pr)
    for i in cate:
        gini=gini-(cate[i]/total)**2
    return gini

import math
# Calc Entropy
def entropy(pr):
    cate = Counter(pr)
    log2 = math.log2
    total = len(pr)
    ent = 0
    for i in cate:
        p = float(cate[i] / total)
        if p==0:
            ent=0
            continue
        ent = ent - p * (log2(p))
    return ent

def get_small(x,a,b):
    return int((x>a) & (x<=b))

In [247]:
df2

    uid  appid
0   101      1
1   101      2
2   101      2
3   101      2
4   101      2
5   102      2
6   102      3
7   102      5
8   103      2
9   103      4
10  103      1
11  104      3
12  104      3

In [248]:
def get_feature_flatten(df):
    
    fea = []
    # Count Encoder
    t1 = time.time()
    df['appid_count'] = df.groupby(['appid'])['uid'].transform('count')
    fea.append(df[['uid','appid_count']].groupby(['uid'])['appid_count'].agg({'mean','std','min','max','median'}))
    fea.append(df[['uid','appid']].groupby(['uid'])['appid'].apply(Gini))
    fea.append(df[['uid','appid']].groupby(['uid'])['appid'].apply(entropy))
    df['appid_count_0_2'] = df['appid_count'].map(lambda x:get_small(x,0,2))#这种行为总次数是否大于0小于1000
    df['appid_count_2_4'] = df['appid_count'].map(lambda x:get_small(x,2,4))
    df['appid_count_4_6'] = df['appid_count'].map(lambda x:get_small(x,4,6))
    tmp = df.groupby(['uid']).agg({'appid_count_0_2' : ['mean','sum','std'],
                          'appid_count_2_4' : ['mean','sum','std'],
                          'appid_count_4_6' : ['mean','sum','std']}
                          )

    tmp.columns = ['_'.join(col).strip() for col in tmp.columns.values]
    fea.append(tmp)
    print("Count Active Finish... :",time.time()-t1)
    
    return fea

In [249]:
uid0 = df1[['uid']]
fea0 = get_feature_flatten(df2)

Count Active Finish... : 0.00795125961303711

In [250]:
for i in tqdm(fea0):
    uid0 = uid0.merge(i,how='left',on='uid')

100%|██████████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00, 1002.64it/s]

In [251]:
 uid0

,uid,median,mean,std,max,min,appid_x,appid_y,appid_count_0_2_mean,appid_count_0_2_sum,appid_count_0_2_std,appid_count_2_4_mean,appid_count_2_4_sum,appid_count_2_4_std,appid_count_4_6_mean,appid_count_4_6_sum,appid_count_4_6_std
0,101,6.0,5.200000,1.788854,6,2,0.320000,0.721928,0.200000,1,0.447214,0.000000,0,0.00000,0.800000,4,0.447214
1,102,3.0,3.333333,2.516611,6,1,0.666667,1.584963,0.333333,1,0.577350,0.333333,1,0.57735,0.333333,1,0.577350
2,103,2.0,3.000000,2.645751,6,1,0.666667,1.584963,0.666667,2,0.577350,0.000000,0,0.00000,0.333333,1,0.577350
3,104,3.0,3.000000,0.000000,3,3,0.000000,0.000000,0.000000,0,0.000000,1.000000,2,0.00000,0.000000,0,0.000000

# 从图统计量的角度和prone的角度分别挖掘特征

In [252]:
# Graph Feature
import scipy.sparse
from scipy import linalg
from scipy.special import iv
import scipy.sparse as sp

from sklearn import preprocessing
from sklearn.utils.extmath import randomized_svd
from sklearn.decomposition import TruncatedSVD

import argparse
import time

class ProNE():
    def __init__(self, G, emb_size=128, step=10, theta=0.5, mu=0.2, n_iter=5, random_state=2019):
        self.G = G
        self.emb_size = emb_size
        self.G = self.G.to_undirected()
        self.node_number = self.G.number_of_nodes()
        self.random_state = random_state
        self.step = step
        self.theta = theta
        self.mu = mu
        self.n_iter = n_iter
        
        mat = scipy.sparse.lil_matrix((self.node_number, self.node_number))

        for e in tqdm(self.G.edges()):
            if e[0] != e[1]:
                mat[int(e[0]), int(e[1])] = 1
                mat[int(e[1]), int(e[0])] = 1
        self.mat = scipy.sparse.csr_matrix(mat)
        print(mat.shape)

    def get_embedding_rand(self, matrix):
        # Sparse randomized tSVD for fast embedding
        t1 = time.time()
        l = matrix.shape[0]
        smat = scipy.sparse.csc_matrix(matrix)  # convert to sparse CSC format
        print('svd sparse', smat.data.shape[0] * 1.0 / l ** 2)
        U, Sigma, VT = randomized_svd(smat, n_components=self.emb_size, n_iter=self.n_iter, random_state=self.random_state)
        U = U * np.sqrt(Sigma)
        U = preprocessing.normalize(U, "l2")
        print('sparsesvd time', time.time() - t1)
        return U

    def get_embedding_dense(self, matrix, emb_size):
        # get dense embedding via SVD
        t1 = time.time()
        U, s, Vh = linalg.svd(matrix, full_matrices=False, check_finite=False, overwrite_a=True)
        U = np.array(U)
        U = U[:, :emb_size]
        s = s[:emb_size]
        s = np.sqrt(s)
        U = U * s
        U = preprocessing.normalize(U, "l2")
        print('densesvd time', time.time() - t1)
        return U

    def fit(self, tran, mask):
        # Network Embedding as Sparse Matrix Factorization
        t1 = time.time()
        l1 = 0.75
        C1 = preprocessing.normalize(tran, "l1")
        neg = np.array(C1.sum(axis=0))[0] ** l1

        neg = neg / neg.sum()

        neg = scipy.sparse.diags(neg, format="csr")
        neg = mask.dot(neg)
        print("neg", time.time() - t1)

        C1.data[C1.data <= 0] = 1
        neg.data[neg.data <= 0] = 1

        C1.data = np.log(C1.data)
        neg.data = np.log(neg.data)

        C1 -= neg
        F = C1
        features_matrix = self.get_embedding_rand(F)
        return features_matrix

    def chebyshev_gaussian(self, A, a, order=10, mu=0.5, s=0.5):
        # NE Enhancement via Spectral Propagation
        print('Chebyshev Series -----------------')
        t1 = time.time()

        if order == 1:
            return a

        A = sp.eye(self.node_number) + A
        DA = preprocessing.normalize(A, norm='l1')
        L = sp.eye(self.node_number) - DA

        M = L - mu * sp.eye(self.node_number)

        Lx0 = a
        Lx1 = M.dot(a)
        Lx1 = 0.5 * M.dot(Lx1) - a

        conv = iv(0, s) * Lx0
        conv -= 2 * iv(1, s) * Lx1
        for i in range(2, order):
            Lx2 = M.dot(Lx1)
            Lx2 = (M.dot(Lx2) - 2 * Lx1) - Lx0
            #         Lx2 = 2*L.dot(Lx1) - Lx0
            if i % 2 == 0:
                conv += 2 * iv(i, s) * Lx2
            else:
                conv -= 2 * iv(i, s) * Lx2
            Lx0 = Lx1
            Lx1 = Lx2
            del Lx2
            print('Bessell time', i, time.time() - t1)
        mm = A.dot(a - conv)
        self.embeddings = self.get_embedding_dense(mm, self.emb_size)
        return self.embeddings
    
    def transform(self):
        if self.embeddings is None:
            print("Embedding is not train")
            return {}
        self.embeddings = pd.DataFrame(self.embeddings)
        self.embeddings.columns = ['ProNE_Emb_{}'.format(i) for i in range(len(self.embeddings.columns))]
        self.embeddings = self.embeddings.reset_index().rename(columns={'index' : 'nodes'}).sort_values(by=['nodes'],ascending=True).reset_index(drop=True)

        return self.embeddings

避免uid和appid重复进行重新编码

In [253]:
uid_lbl,appid_lbl = LabelEncoder(),LabelEncoder()
df2['new_uid'] = uid_lbl.fit_transform(df2['uid'])
df2['new_appid'] = appid_lbl.fit_transform(df2['appid'])
df2['new_appid'] += df2['new_uid'].max() + 1

In [254]:
df2

,uid,appid,appid_count,appid_count_0_2,appid_count_2_4,appid_count_4_6,new_uid,new_appid
0,101,1,2,1,0,0,0,4
1,101,2,6,0,0,1,0,5
2,101,2,6,0,0,1,0,5
3,101,2,6,0,0,1,0,5
4,101,2,6,0,0,1,0,5
5,102,2,6,0,0,1,1,5
6,102,3,3,0,1,0,1,6
7,102,5,1,1,0,0,1,8
8,103,2,6,0,0,1,2,5
9,103,4,1,1,0,0,2,7
10,103,1,2,1,0,0,2,4
11,104,3,3,0,1,0,3,6
12,104,3,3,0,1,0,3,6

In [255]:
def get_graph_embedding(df,prefix):
    
    uid_lbl,appid_lbl = LabelEncoder(),LabelEncoder()
    df['new_uid'] = uid_lbl.fit_transform(df['uid'])
    df['new_appid'] = appid_lbl.fit_transform(df['appid'])
    df['new_appid'] += df['new_uid'].max() + 1
    
    print("Encoder Finished...")
    
    G = ig.Graph()
    G.add_vertices(df['new_appid'].max()+1)
    G.add_edges(df[['new_uid','new_appid']].values)
    print("Build Graph Finished...")
    evcent = G.evcent() # 计算图中节点的向量中心性
    shell_index = G.shell_index() # 计算图中节点度至少为K的最大子图
    degree = G.degree() # 总度数
    pagerank = G.pagerank() # pagerank
    # 以下4个计算的很慢，效果还不错，可以注释掉，观察evcent的效果
    closeness = G.closeness() # 计算节点与网络中其他所有节点的距离的平均值   
    betweenness = G.betweenness() # 计算节点的介值
    constraint = G.constraint()
    eccentricity = G.eccentricity() # 计算给定节点到图中其他节点的最短距离的最大值。
    
    G_stat = pd.DataFrame()
    G_stat['evcent'] = evcent
    G_stat['shell_index'] = shell_index
    G_stat['degree'] = degree
    G_stat['pagerank'] = pagerank
    print("PR Finished...")
    G_stat['closeness'] = closeness
    G_stat['betweenness'] = betweenness
    G_stat['constraint'] = constraint
    G_stat['eccentricity'] = eccentricity
    G_stat = G_stat.reset_index()
    G_stat = G_stat[G_stat['index'].isin(df['new_uid'])]
    G_stat['index'] = uid_lbl.inverse_transform(G_stat['index'])
    G_stat.rename(columns={'index' : 'uid'},inplace=True)
    
    print("Graph Stat Finished...")
    G_stat.to_pickle("Graph_Stat_{}.pickle".format(prefix))
    
    del G
    
    import gc
    gc.collect()
    
    G = nx.Graph()
    G.add_edges_from(df[['new_uid','new_appid']].values)
    model = ProNE(G,emb_size=32,n_iter=6,step=12)
    features_matrix = model.fit(model.mat, model.mat)
    model.chebyshev_gaussian(model.mat, features_matrix, model.step, model.mu, model.theta)
    emb = model.transform()
    fea = emb[emb['nodes'].isin(df['new_uid'])]
    fea['nodes'] = uid_lbl.inverse_transform(fea['nodes'])
    fea.rename(columns={'nodes' : 'uid'},inplace=True)
    del G
    gc.collect()
    print("Embedding Finished...")
    fea.to_pickle("Graph_Bi_{}.pickle".format(prefix))
    
    return fea,G_stat

In [256]:
#test为生成文件的区别标签，add_prefix为特征的区别标签。
fea1,stat1 = get_graph_embedding(df2,'test')

Encoder Finished...
Build Graph Finished...
PR Finished...
Graph Stat Finished...

100%|████████████████████████████████████████████████████████████████████████████████████████████| 9/9 [00:00<?, ?it/s]
C:\Users\Administrator\AppData\Local\Temp\ipykernel_15620\2273061183.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fea['nodes'] = uid_lbl.inverse_transform(fea['nodes'])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_15620\2273061183.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fea.rename(columns={'nodes' : 'uid'},inplace=True)

(9, 9)
neg 0.0009970664978027344
svd sparse 0.2222222222222222
sparsesvd time 0.0027778148651123047
Chebyshev Series -----------------
Bessell time 2 0.0009980201721191406
Bessell time 3 0.0009980201721191406
Bessell time 4 0.0009980201721191406
Bessell time 5 0.0009980201721191406
Bessell time 6 0.0009980201721191406
Bessell time 7 0.0009980201721191406
Bessell time 8 0.0009980201721191406
Bessell time 9 0.0009980201721191406
Bessell time 10 0.0009980201721191406
Bessell time 11 0.001995086669921875
densesvd time 0.0
Embedding Finished...

In [257]:
stat1

,uid,evcent,shell_index,degree,pagerank,closeness,betweenness,constraint,eccentricity
0,101,0.967543,4,5,0.160771,0.421053,4.0,0.680000,4.0
1,102,0.254960,2,3,0.124772,0.533333,17.0,0.333333,3.0
2,103,0.306123,2,3,0.120929,0.470588,8.0,0.333333,4.0
3,104,0.032612,2,2,0.089024,0.296296,0.0,1.000000,5.0

In [258]:
fea1

,uid,ProNE_Emb_0,ProNE_Emb_1,ProNE_Emb_2,ProNE_Emb_3,ProNE_Emb_4,ProNE_Emb_5,ProNE_Emb_6,ProNE_Emb_7,ProNE_Emb_8
0,101,-0.749192,-0.232707,-0.209441,-0.479306,0.216986,-0.003158,-0.210763,0.139448,-8.470183e-10
1,102,-0.529723,0.720460,-0.277333,0.194662,0.157705,0.140218,0.184612,0.083127,-2.337140e-10
2,103,-0.776861,-0.353012,0.285474,0.313275,0.232999,-0.142895,0.049550,-0.122761,2.902806e-10
3,104,-0.117049,0.577222,0.676567,-0.314392,0.060563,0.245739,-0.093973,-0.153765,-4.579472e-09

# 使用word2vec对行为序列进行编码

In [4]:
df1

   uid                                    appid
0  101  [1, 2, 2, 2, 2, 6, 4, 2, 8, 1, 2, 5, 9]
1  102                   [2, 3, 5, 2, 6, 10, 2]
2  103              [2, 4, 1, 7, 1, 5, 8, 2, 1]
3  104        [3, 3, 9, 4, 1, 7, 1, 8, 1, 2, 3]

In [20]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [15]:
def set_tokenizer(docs, split_char=' ', max_len=100):
    '''
    输入
    docs:文本列表
    split_char:按什么字符切割
    max_len:截取的最大长度
    
    输出
    X:序列化后的数据
    word_index:文本和数字对应的索引
    '''
    tokenizer = Tokenizer(lower=False, char_level=False, split=split_char)
    tokenizer.fit_on_texts(docs)
    X = tokenizer.texts_to_sequences(docs)
    maxlen = max_len
    X = pad_sequences(X, maxlen=maxlen, value=0)
    word_index=tokenizer.word_index
    return X, word_index

In [16]:
text_1_list = list(df1['appid'])

In [28]:
x1, index_1 = set_tokenizer(text_1_list, split_char=',', max_len=14)

In [29]:
x1

array([[ 0,  2,  1,  1,  1,  1,  7,  4,  1,  5,  2,  1,  6,  8],
       [ 0,  0,  0,  0,  0,  0,  0,  1,  3,  6,  1,  7, 10,  1],
       [ 0,  0,  0,  0,  0,  1,  4,  2,  9,  2,  6,  5,  1,  2],
       [ 0,  0,  0,  3,  3,  8,  4,  2,  9,  2,  5,  2,  1,  3]])

In [34]:
def get_embedding_matrix(word_index, embed_size=64, Emed_path="w2v_300.txt"):
    embeddings_index = models.KeyedVectors.load_word2vec_format(
        Emed_path, binary=False)
    nb_words = len(word_index)+1
    embedding_matrix = np.zeros((nb_words, embed_size))
    count = 0
    for word, i in tqdm(word_index.items()):
        if i >= nb_words:
            continue
        try:
            embedding_vector = embeddings_index[word]
        except:
            embedding_vector = np.zeros(embed_size)
            count += 1
        if embedding_vector is not None:
            embedding_matrix[i] = embedding_vector    
    print("null cnt",count)
    return embedding_matrix

In [35]:
emb1 = get_embedding_matrix(index_1, Emed_path='w2v.model')

100%|██████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<?, ?it/s]

null cnt 0

In [37]:
index_1

{'2': 1,
 '1': 2,
 '3': 3,
 '4': 4,
 '8': 5,
 '5': 6,
 '6': 7,
 '9': 8,
 '7': 9,
 '10': 10}

In [40]:
emb1.shape

(11, 64)

In [42]:
[emb1]

[array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
          0.00000000e+00],
        [ 5.88302873e-03, -3.98334861e-03, -4.03367775e-03,
          4.32318775e-03,  4.74723382e-03, -2.11842800e-03,
          3.98819102e-03, -7.54593313e-03, -3.97345517e-03,
          5.46230702e-03,  3.42941517e-03,  6.48525124e-03,
          2.58735800e-03, -4.77728667e-03, -4.74786432e-03,
          1.50797307e-03, -1.53882091e-03, -8.83587985e-04,
         -2.80057173e-03, -5.64423623e-03, -2.91843130e-03,
         -4.24202112e-03, -4.07362683e-03,  4.38603526e-03,
          4.73963609e-03, -1.55579112e-03, -7.34376209e-03,
          5.95421903e-03, -5.54475747e-03,  7.77962105e-03,
          5.40390471e-03,  7.62852374e-03,  7.26361177e-05,
          7.17895990e-03,  4.90778359e-03, -2.27141217e-03,
         -4.34832601e-03,  1.10823917e-03, -6.91913208e-03,
          7.37835560e-03,  9.83338105e-04,  5.53374458e-03,
          7.21946359e-03,  5.43302903e-03, -3.43885482e-03,
         -2.94424966e-03,  2.64467322e-03,  5.89408213e-03,
          4.19099303e-03,  3.31712025e-03, -6.63994532e-03,
         -3.47281061e-03,  5.74434968e-03, -7.66614731e-03,
          5.66886854e-04, -7.19267456e-03, -2.34059815e-04,
         -1.77391304e-03, -6.38853479e-03, -6.67290529e-03,
         -4.87851398e-03,  3.63002741e-03,  5.95852220e-03,
          1.05697627e-03],
        [ 3.68875189e-04, -5.76744741e-03,  1.54904008e-03,
         -2.88744341e-03, -1.94190140e-03,  3.49486247e-03,
         -4.14745230e-03,  1.56081363e-03,  1.47862139e-03,
         -2.44895491e-04,  3.10219987e-03, -5.02093509e-03,
          1.66580721e-03, -7.07212184e-03,  6.80339010e-03,
         -5.98792080e-03, -1.77452515e-03,  8.50245531e-04,
         -7.39221694e-03,  6.86049508e-03, -2.90796068e-03,
         -5.78442914e-03, -3.33017390e-03, -6.76404778e-03,
          5.46354055e-03, -9.54350806e-04, -2.74857692e-03,
          2.30508181e-03,  2.51118396e-03, -6.97252620e-03,
         -4.62804316e-03, -3.36896558e-03,  6.76621858e-04,
         -1.49514386e-03, -5.57275675e-03, -4.29033907e-03,
         -2.63173832e-03,  7.28528062e-03,  5.69199910e-03,
         -4.72120196e-03, -4.63129021e-03, -2.59939744e-03,
         -5.64765604e-03, -3.84927029e-04, -6.70079561e-03,
         -2.17201281e-03, -4.66255238e-03,  4.40677628e-03,
          5.83195174e-03, -5.80192637e-03,  7.71394093e-03,
         -1.07280025e-03,  4.74348012e-03, -4.86828620e-03,
          3.76957841e-03, -1.99022517e-03,  7.07405899e-03,
          7.72502925e-03,  4.65615513e-03, -1.93517713e-03,
          7.49581435e-04,  1.72254769e-03, -7.53250299e-03,
         -3.87885282e-03],
        [-7.03294715e-03, -1.93572906e-03, -5.93482237e-03,
         -2.85660499e-03, -6.46172208e-04, -1.28139323e-03,
          4.82350821e-03, -2.69328913e-04,  2.92162388e-03,
         -4.28295275e-03,  4.66955500e-03,  5.21819293e-03,
          2.04512547e-03,  2.27040029e-03, -7.17555173e-03,
          1.68742426e-03, -5.72098559e-03,  1.93953456e-03,
         -1.96736190e-03,  5.24749793e-03, -3.27947969e-03,
          1.88677211e-03, -5.67744393e-03,  6.02860656e-03,
          3.72642418e-04, -2.68509684e-05, -2.95373262e-03,
         -5.02171321e-03,  6.33576419e-03, -7.29113072e-03,
          7.48845143e-03, -2.88417470e-03,  1.26455736e-03,
          4.68232995e-03, -1.65530364e-03,  3.70547664e-03,
          3.71109508e-03, -1.12684851e-03, -5.36373630e-03,
          5.46584837e-03,  7.55252084e-03, -4.64176200e-03,
          7.27423991e-04,  3.36933136e-03, -2.83505186e-03,
          3.03030037e-03, -6.16580539e-04,  2.74387235e-03,
          1.66093744e-03,  2.75285612e-03,  2.46293307e-03,
          3.67128709e-03, -1.09377048e-04, -3.86714982e-03,
         -6.50189258e-03,  5.30813029e-03, -5.78070851e-03,
         -5.22419391e-03, -6.54227333e-03,  6.54707802e-03,
         -3.56556498e-03,  6.92523085e-03,  7.54968170e-03,
          9.19386221e-04],
        [-1.63705589e-03,  6.40941132e-03,  4.39930800e-03,
         -1.09160552e-03,  7.73482723e-03, -7.74273212e-05,
         -4.80736955e-04, -2.88685714e-03,  1.28753681e-03,
         -4.46616486e-03, -4.01074532e-03, -2.78850389e-03,
          1.47887098e-03, -7.79683702e-03, -6.50037080e-03,
          7.46818073e-03, -4.54112375e-03,  4.25332272e-03,
         -6.74353261e-03,  1.50555733e-03, -7.67602166e-03,
         -6.38871221e-03, -6.10694475e-03, -6.34616800e-03,
         -1.50222017e-03,  4.91925282e-03, -6.50413008e-03,
          2.25008093e-03,  4.32795705e-03, -4.05749830e-04,
          2.70735077e-03,  6.23671291e-03,  3.12051037e-03,
         -3.28310882e-03, -2.74444697e-04,  6.73184870e-03,
          6.99467584e-03,  6.59271283e-03, -3.71864415e-03,
         -6.08861819e-03, -2.25622742e-03,  2.85399309e-03,
          7.32566090e-03,  5.94001915e-03,  5.36553911e-04,
          5.74997452e-04,  6.86309487e-03,  4.45613824e-03,
         -4.09255177e-03, -4.58021602e-03,  5.09472273e-04,
          6.09173812e-03, -4.61145723e-03, -4.06792341e-03,
         -3.27416207e-03,  6.90335641e-03,  4.04028781e-03,
          3.95537727e-03, -6.13479177e-03,  7.87040859e-04,
         -1.79750589e-03, -6.82852231e-03, -7.35584740e-03,
          1.96813460e-04],
        [ 4.06499486e-03,  5.89020504e-03,  3.20309843e-03,
         -2.79421406e-03,  4.47662454e-03, -4.69883671e-04,
          2.92394357e-03, -4.06000344e-03,  3.71550140e-03,
         -6.86563784e-03, -7.80380890e-03,  3.34717217e-03,
         -3.02861328e-03, -2.77580274e-03, -1.74788205e-04,
         -4.18595337e-05, -5.19533968e-03, -7.74284685e-03,
          2.76239798e-03,  5.86574478e-03, -6.34919154e-03,
         -3.80057638e-04,  2.81641958e-03, -5.17326454e-03,
          3.82758491e-03, -4.26668162e-03, -6.97571877e-03,
         -1.34740339e-03,  2.14118371e-03, -3.34216398e-03,
         -3.11500067e-03, -7.43561704e-03, -6.05791388e-03,
         -4.96614212e-03, -2.66143493e-03,  3.99294170e-03,
         -5.65672619e-03, -7.68728927e-03, -3.79976933e-04,
         -3.33878538e-03, -3.77037353e-03, -7.01894378e-03,
          3.34435911e-03, -3.73306149e-03,  1.89712131e-03,
          5.21078845e-03, -4.16144216e-03, -5.00223553e-03,
         -1.33594309e-04, -6.21913094e-03,  1.11593981e-03,
          2.05361075e-03,  1.28261920e-03, -5.98748541e-03,
         -6.74940320e-03,  4.69812704e-03,  1.88273238e-03,
         -3.59428325e-03,  2.18359171e-03,  1.22059183e-03,
         -6.22214284e-03, -5.09857247e-03, -2.77989730e-03,
         -4.50497447e-03],
        [ 2.44551129e-03, -2.67293910e-03, -5.60245709e-03,
         -4.32929397e-03,  7.28791580e-03, -3.04214004e-03,
          4.20372980e-03,  3.11586866e-03, -2.34311167e-03,
         -6.51093153e-03, -1.28092026e-04, -3.96409305e-03,
          3.91694065e-03, -4.87749814e-04,  1.38700323e-03,
         -7.31547177e-03,  1.13841577e-03, -2.11579679e-03,
         -3.13758454e-03, -1.04182318e-03,  6.25573657e-03,
         -3.31200706e-03,  1.96522917e-03, -5.57454722e-03,
          5.09140501e-03, -2.98387045e-03,  1.28906732e-03,
         -2.39901477e-03,  2.18547601e-03,  7.42956239e-04,
         -1.54874779e-05,  3.48475785e-03,  4.46337881e-03,
         -1.73528690e-03, -5.12039871e-04,  6.42021140e-03,
         -1.56965700e-03,  7.76619592e-04, -7.42818229e-03,
         -2.08966574e-03,  6.06467063e-03, -3.33605846e-03,
         -5.69035008e-04, -2.35716603e-03, -4.63883346e-03,
         -2.74138781e-03, -6.96800044e-03,  3.38304252e-03,
          4.98921564e-03,  4.44783596e-03,  4.63954778e-03,
          3.16083967e-03,  5.43475058e-03, -4.45705839e-03,
          3.57270427e-03,  1.38785469e-03, -7.04061193e-03,
         -8.49613687e-04,  2.32056924e-03,  7.10435072e-03,
         -6.16390258e-03, -6.37428882e-03,  6.99261203e-03,
         -4.19858191e-03],
        [ 6.53758412e-03, -7.06821680e-03, -7.23644439e-03,
         -4.29497100e-03, -6.13194145e-03, -1.67680904e-03,
          5.28625306e-03,  5.21166976e-06, -1.75056004e-04,
          6.33628899e-03,  1.88260048e-03, -7.45838694e-03,
         -7.53743714e-03, -3.33730044e-04,  5.17074717e-03,
          4.58063511e-03,  6.12220960e-03, -5.04897861e-03,
          3.34333209e-03,  6.71407580e-03,  5.17045846e-03,
          3.14917532e-03, -1.34377729e-03, -4.61076153e-03,
          7.61504890e-03, -2.38767709e-03, -4.04415000e-03,
         -7.59793958e-03, -1.90387887e-03,  6.73555443e-03,
         -1.82386802e-03, -4.11921693e-03,  4.38000169e-03,
          2.64006176e-05, -7.45510915e-03,  7.83572067e-03,
          6.13409281e-03, -3.38723324e-03,  4.88054333e-03,
         -7.41055794e-03, -3.37003241e-03,  1.86330150e-03,
          4.29532770e-03, -7.30030984e-03, -4.28465428e-03,
         -3.78571008e-03,  1.43052381e-03,  3.03597702e-03,
          2.48294836e-03,  1.32745388e-03, -7.19418610e-03,
          5.11872536e-03, -4.90175514e-03,  2.80354870e-03,
         -2.30079656e-03,  4.87587601e-03,  5.48731117e-03,
         -2.95669236e-03, -1.26659847e-03,  5.05241705e-03,
         -6.60818024e-03, -2.96176295e-03,  5.17167104e-03,
          6.38957135e-03],
        [-5.50531736e-03,  7.45774386e-03,  5.37760323e-03,
          5.86977042e-03,  1.84635713e-03, -7.01871095e-03,
         -7.60728261e-03, -3.63152404e-03, -2.78946571e-03,
          4.87377029e-03, -4.57620760e-03, -5.26531832e-03,
          5.97990537e-03,  1.60368998e-07, -5.23964548e-03,
          7.72165693e-03,  7.93706393e-04, -4.07446269e-03,
         -6.21200213e-03, -2.41263420e-03,  3.87236988e-03,
          5.75950975e-03, -5.08722290e-03,  3.66935856e-03,
         -5.60365198e-03,  4.63833660e-03,  3.16229439e-03,
          5.95510053e-03, -9.97622847e-05,  4.91880625e-03,
         -5.87349897e-03, -9.06591667e-05, -9.04136454e-04,
          3.43992491e-03,  6.86551118e-03,  7.45310076e-03,
          3.08758486e-03,  3.69195407e-03,  1.96299702e-03,
          3.45751503e-03,  3.95067764e-04, -3.51685355e-03,
         -4.40628594e-03, -6.43395493e-03, -5.38084330e-03,
          7.33320788e-03,  7.45643582e-03,  5.05869323e-03,
          5.24128228e-03,  1.48390024e-03, -4.58394177e-03,
          6.78752223e-03, -7.12172408e-03, -8.19263048e-04,
         -2.23408992e-04,  7.03978073e-03,  3.61817912e-03,
          3.79188597e-04,  5.54445316e-04,  6.88196160e-03,
          2.65284907e-03,  6.89128228e-03, -2.60102376e-03,
          3.47617641e-03],
        [ 3.26167932e-03,  1.72893365e-03,  4.75829002e-03,
         -4.53704922e-03, -4.63657605e-04,  6.38105068e-03,
         -7.49739725e-03,  3.05411499e-03,  7.75056938e-03,
          2.56101042e-03, -5.68825938e-03,  5.80242602e-03,
          1.79558818e-03, -6.47636550e-03,  6.72868127e-03,
          2.36613001e-03,  6.53268164e-03,  2.71764747e-03,
          3.05709592e-03, -6.72493828e-03, -3.96034215e-03,
          2.69548339e-03,  4.87101823e-03, -3.43465433e-03,
         -3.28804483e-03, -1.53757131e-03,  1.90863572e-03,
          3.81697435e-04,  2.71262764e-03,  4.33725584e-03,
          4.09833668e-03,  2.98556406e-03, -2.35311850e-03,
         -6.07049046e-03,  1.71869958e-03,  7.46525498e-03,
         -6.04159804e-03,  3.56639200e-03, -4.66791401e-03,
          3.45720164e-03,  3.08066839e-03, -1.17382384e-03,
         -2.51348154e-03,  1.26852817e-03,  2.93245818e-03,
          7.14543369e-03, -1.69240718e-03, -5.96245925e-04,
          5.83791081e-03, -6.46003522e-03,  5.98539086e-03,
         -1.44014810e-03,  3.95168737e-03, -5.05450444e-05,
         -2.62317568e-04, -5.82922809e-03,  3.66727565e-03,
          3.89242102e-03, -2.94554979e-03,  6.04581507e-03,
          2.50217202e-03,  3.33621702e-03,  6.04412099e-03,
         -2.49513891e-03],
        [ 2.08763499e-03,  4.19865036e-03,  6.74867863e-03,
          4.03544726e-03,  3.22852749e-03,  4.58877953e-03,
         -3.71061545e-03,  8.07170174e-04, -7.49880308e-03,
         -2.05209875e-03, -3.76834231e-03, -4.36083227e-03,
         -7.70295411e-03,  3.31873726e-03,  2.04734015e-03,
          5.93664031e-03,  2.90067215e-03, -5.46735432e-03,
          3.90373077e-03, -6.78379042e-03,  5.17220376e-03,
          6.64717704e-03,  2.15714244e-04, -4.20807209e-03,
         -2.99379975e-03, -3.19890794e-03,  1.10419735e-03,
         -6.97732903e-03,  4.24468936e-03,  3.09518049e-03,
         -1.58472988e-03,  1.52491988e-03,  4.61957138e-03,
          6.49904506e-03,  4.70470777e-03,  1.17267191e-03,
          6.81117177e-03,  5.23818517e-03, -3.80081963e-03,
          2.40374077e-03,  3.51910549e-03,  1.77457405e-05,
         -7.15718931e-03,  8.78328516e-04,  2.66431901e-03,
          5.55242004e-04,  6.71844371e-03,  4.11540922e-03,
          3.02198669e-03, -4.62448690e-03,  6.92838104e-03,
          3.62068857e-03, -4.06492065e-04, -3.98020493e-03,
         -7.16217980e-03, -1.31231104e-03,  4.07806225e-03,
          2.57469644e-03,  5.52013889e-03,  5.14862128e-03,
          7.51620391e-03, -7.24656880e-03, -5.44042420e-03,
         -1.47119805e-03]])]

In [5]:
from gensim import corpora, models, similarities
from gensim.models.doc2vec import TaggedDocument

In [7]:
w2v = models.Word2Vec(df1['appid'].values, size=64, window=10, workers=6,min_count=1,hs=1)
w2v.wv.save_word2vec_format("w2v.model")
vocab = list(w2v.wv.vocab.keys())

In [8]:
w2v_feature = np.zeros((df1.shape[0],64))
w2v_feature_avg = np.zeros((df1.shape[0],64))

In [9]:
for i,line in tqdm(enumerate(df1['appid'].values.tolist())):
    num = 0
    if line == '':
        w2v_feature_avg[i,:] = np.zeros(size)
    else:
        for word in line:
            num += 1
            vec = w2v[word] if word in vocab else np.zeros(size)
            w2v_feature[i,:] += vec
        w2v_feature_avg[i,:] = w2v_feature[i,:] / num
w2v_avg = pd.DataFrame(w2v_feature_avg)
w2v_avg = w2v_avg.add_prefix("W2V_AVG_{}_".format('test'))
w2v_avg['uid'] = df1['uid']

0it [00:00, ?it/s]C:\Users\Administrator\AppData\Local\Temp\ipykernel_14604\2976163702.py:8: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  vec = w2v[word] if word in vocab else np.zeros(size)
4it [00:00, ?it/s]

In [ ]:
w2v.

In [10]:
w2v_avg

,W2V_AVG_test_0,W2V_AVG_test_1,W2V_AVG_test_2,W2V_AVG_test_3,W2V_AVG_test_4,W2V_AVG_test_5,W2V_AVG_test_6,W2V_AVG_test_7,W2V_AVG_test_8,W2V_AVG_test_9,...,W2V_AVG_test_55,W2V_AVG_test_56,W2V_AVG_test_57,W2V_AVG_test_58,W2V_AVG_test_59,W2V_AVG_test_60,W2V_AVG_test_61,W2V_AVG_test_62,W2V_AVG_test_63,uid
0,0.003226,-0.001955,-0.001613,0.001040,0.003063,-0.001385,0.001535,-0.003816,-0.001630,0.001973,...,-0.001710,0.001595,0.000134,-0.002412,-0.001759,-0.003532,0.000835,0.001547,-0.000004,101
1,0.003098,-0.002775,-0.003447,0.000789,0.002569,-0.001110,0.003224,-0.002711,-0.002717,0.001411,...,-0.001617,-0.000565,-0.001683,-0.002733,0.000548,-0.003351,0.000176,0.004593,0.000687,102
2,0.002334,-0.001546,0.000371,-0.001419,0.002523,0.001004,-0.000591,-0.001243,0.000767,-0.000566,...,-0.001466,0.002589,0.002559,-0.000376,-0.000444,-0.002132,-0.000282,-0.000864,-0.002280,103
3,-0.001266,-0.000510,0.000050,-0.001406,0.000962,0.000303,-0.000604,-0.001018,0.001745,-0.001093,...,0.001416,0.001532,0.000942,-0.001672,0.002009,-0.001472,0.002534,-0.000062,-0.001014,104

In [14]:
def load_w2v(word_index,max_features):    
    EMBEDDING_FILE = 'w2v.model'
    def get_coefs(word,*arr): return word, np.asarray(arr, dtype='float32')
    embeddings_index = dict(get_coefs(*o.split(" ")) for o in open(EMBEDDING_FILE) if len(o)>100)

    all_embs = np.stack(embeddings_index.values())
    emb_mean,emb_std = all_embs.mean(), all_embs.std()
    embed_size = all_embs.shape[1]

    # word_index = tokenizer.word_index
    nb_words = min(max_features, len(word_index))
    embedding_matrix = np.random.normal(emb_mean, emb_std, (nb_words, embed_size))
    for word, i in word_index.items():
        if i >= max_features: continue
        embedding_vector = embeddings_index.get(word)
        if embedding_vector is not None: embedding_matrix[i] = embedding_vector

    return embedding_matrix

# 将向量化的结果和trian，test合并

In [ ]:
#之前的每一个embedding的df都有uid
train = pd.merge(train[['uid']],full_df, how='inner', on='uId').fillna(0) #内连接
test = pd.merge(test,df, how='inner', on='uId').fillna(0) 
train.sort_values('uid', axis=0, ascending=True, inplace=True)
test.sort_values('uid', axis=0, ascending=True, inplace=True)
train.drop('uid',axis=1,inplace=True)
test.drop('uid',axis=1,inplace=True)

In [ ]:
#压缩为稀疏矩阵并保存
train = csr_matrix(train) 
test = csr_matrix(test) 
sparse.save_npz('for_trian.npz', train)
sparse.save_npz('for_train.npz', test)

In [ ]:
#载入
base_train = sparse.load_npz('for_trian.npz')
base_test = sparse.load_npz('for_trian.npz')

In [ ]:
#使用时用hstack把各种稀疏矩阵拼接之后直接放入树模型即可
train = sparse.hstack((base_train1,base_train2))