In [ ]:
#一个简单地demo
from flask import Flask,request,render_template,jsonify
app = Flask(__name__)
@app.route('/',methods=['POST'])
def index():
    dataraw=request.get_data().decode('utf-8')
    print(dataraw,type(dataraw))
    return 'receive'
if __name__ == '__main__':
    app.run()

In [ ]:
import json
from flask import Flask
from flask import request

app = Flask(__name__)
@app.route("/hello_world")
def get_hello_world():
    return 'Hello World puke !'


@app.route("/deal_info",methods = ['POST'])
def deal_get_info():
    if request.method == 'POST':
        request_data = request.get_data().decode('utf-8')		# 解析json前进行编码.不然出来的结果并不是中文的..
        print(request_data)
        print(json.loads(request_data))
        return request_data
if __name__ == "__main__" :
    app.run()

# 一个简单的函数测试

测试数据为{"height": 183, "weight": 130}

In [ ]:
# 导入Flask类
from flask import Flask
from flask import request
from flask import jsonify
import json
import requests
# 创建Flask实例，接收参数__name__表示当前文件名，默认会自动指定静态文件static
app = Flask(__name__)
# 装饰器的作用是将路由映射到视图函数get_age；告诉flask通过哪个URL可以触发函数
@app.route('/get_predict',methods=['POST'])
def get_age():
    input_json = request.get_data()   #调用服务器时输入的json字符串
    dict_json = json.loads(input_json)
    print(type(dict_json))
    x_1= dict_json['height']
    x_2 = dict_json['weight']
    #此处可以加自己的特征处理，模型预测
    print(type(x_1))
    data = 0.5 * x_1 + 0.4 * x_2
    print('年龄为',data)
    return str(data)   #The return type must be a string, tuple  #jsonify(data)


# Flask应用程序实例的run方法启动WEB服务器
if __name__ == '__main__':
    app.run(host='127.0.0.1',port=5000)

In [13]:
#可以把字典转化为json格式
json.dumps({'height':183,'weight':130})

'{"height": 183, "weight": 130}'

In [6]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
 
 
# importing dataset from sklearn
from sklearn.datasets import load_boston
boston_data = load_boston()
 
# initializing dataset
data_ = pd.DataFrame(boston_data.data)
 
### Top five rows of dataset
data_.head()

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:

# Adding features names to the dataframe
data_.columns = boston_data.feature_names
data_.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
# Target feature of Boston Housing data
data_[ 'PRICE' ] = boston_data.target

In [9]:
# checking null values
data_.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [10]:
# creating feature and target variable 
X = data_.drop([ 'PRICE' ], axis= 1 )
y = data_[ 'PRICE' ]
 
# splitting into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.2 , random_state= 1 )
print( "X training shape : " , X_train.shape )
print( "X test shape : " , X_test.shape )
print( "y training shape :" , y_train.shape )
print(" y test shape :", y_test.shape )
 
# creating model
from sklearn.ensemble import RandomForestRegressor
classifier = RandomForestRegressor()
classifier.fit(X_train, y_train)

X training shape :  (404, 13)
X test shape :  (102, 13)
y training shape : (404,)
 y test shape : (102,)

RandomForestRegressor()

In [11]:
# saving the model
import pickle
with open( 'model.pkl' , 'wb' ) as file:
    pickle.dump(classifier, file)
 
 
 
# saving the columns
model_columns = list(X.columns)
with open( 'model_columns.pkl' , 'wb' ) as file:
    pickle.dump(model_columns, file)

In [12]:
X_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
307,0.04932,33.0,2.18,0.0,0.472,6.849,70.3,3.1827,7.0,222.0,18.4,396.90,7.53
343,0.02543,55.0,3.78,0.0,0.484,6.696,56.4,5.7321,5.0,370.0,17.6,396.90,7.18
47,0.22927,0.0,6.91,0.0,0.448,6.030,85.5,5.6894,3.0,233.0,17.9,392.74,18.80
67,0.05789,12.5,6.07,0.0,0.409,5.878,21.4,6.4980,4.0,345.0,18.9,396.21,8.10
362,3.67822,0.0,18.10,0.0,0.770,5.362,96.2,2.1036,24.0,666.0,20.2,380.79,10.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.04203,28.0,15.04,0.0,0.464,6.442,53.6,3.6659,4.0,270.0,18.2,395.01,8.16
224,0.31533,0.0,6.20,0.0,0.504,8.266,78.3,2.8944,8.0,307.0,17.4,385.05,4.14
110,0.10793,0.0,8.56,0.0,0.520,6.195,54.4,2.7778,5.0,384.0,20.9,393.49,13.00
426,12.24720,0.0,18.10,0.0,0.584,5.837,59.7,1.9976,24.0,666.0,20.2,24.65,15.69
443,9.96654,0.0,18.10,0.0,0.740,6.485,100.0,1.9784,24.0,666.0,20.2,386.73,18.85

In [53]:
from flask import render_template, request, jsonify
import flask
import numpy as np
import traceback
import pickle
import pandas as pd
 
# App definition
app = Flask(__name__,template_folder= 'templates' )
 
# importing models
with open( 'model.pkl' , 'rb' ) as f:
    classifier = pickle.load (f)
with open( 'model_columns.pkl' , 'rb' ) as f:
    model_columns = pickle.load (f)
 
@app.route('/')
def welcome () :
    return "Boston Housing Price Prediction"
 
@app.route('/predict', methods=['POST','GET'])
def predict () :
    if flask.request.method == 'GET' :
        return "Prediction page"
 
    if flask.request.method == 'POST' :
        try :
            input_json = request.get_data()   #调用服务器时输入的json字符串
            dict_json = json.loads(input_json)
            query_ = pd.DataFrame.from_dict(dict_json,orient='index').T
            query = query_.reindex(columns = model_columns, fill_value= 0 )
            prediction = list(classifier.predict(query))
 
            return jsonify({
               "prediction" :str(prediction)
           })
 
        except :
            return jsonify({
               "trace" : traceback.format_exc()
               })
import requests
import json
if __name__ == "__main__" :
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Mar/2022 18:24:30] "POST //predict HTTP/1.1" 200 -

In [49]:
testdf=X_test.iloc[2,:].to_json()
testdf

'{"CRIM":0.22927,"ZN":0.0,"INDUS":6.91,"CHAS":0.0,"NOX":0.448,"RM":6.03,"AGE":85.5,"DIS":5.6894,"RAD":3.0,"TAX":233.0,"PTRATIO":17.9,"B":392.74,"LSTAT":18.8}'

In [50]:
model_columns

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT']