In [71]:
import seaborn as sns
from igraph import Graph as iGraph
from py2neo import Graph as pGraph
import pandas as pd

In [9]:
g = pGraph('http://localhost:7474',auth=("neo4j", "123456"))

In [12]:
query = """
MATCH (p1:gzh)-[:gzh]->(p2:gzh) 
return p1.item,p2.item

"""

In [24]:
data  = g.run(query)

读入iGraph

In [25]:
ig = iGraph.TupleList(data)

In [42]:
print('顶点数:',ig.vcount())
print('边数:',ig.ecount())

顶点数: 15644
边数: 212371

获得顶点和边的DataFrame

In [50]:
nodes = ig.get_vertex_dataframe()
nodes

            name
vertex ID
0             30
1           4102
2             33
3            103
4             35
...          ...
15639      26066
15640      25069
15641      26068
15642      26070
15643      26072

[15644 rows x 1 columns]

In [51]:
relation = ig.get_edge_dataframe()
relation

         source  target
edge ID
0             0       1
1             2       3
2             4       5
3             4       6
4             7       8
...         ...     ...
212366     1889    1898
212367     1889    1925
212368    15639   15640
212369    15641   15642
212370    15641   15643

[212371 rows x 2 columns]

查看邻居节点，可以用于计算一度联系人特征

In [62]:
ig.neighborhood([5, 47,14], order=1)

[[5, 4],
 [47,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80],
 [14, 13]]

In [75]:
nodes['degree'] =ig.degree()
nodes['pagerank'] = ig.pagerank()
nodes['harmonic_centrality'] = ig.harmonic_centrality()
nodes['betweenness'] = ig.betweenness()

In [95]:
nodes['infomap_cluster'] = ig.community_infomap().membership
nodes['multilevel_cluster'] = ig.community_multilevel().membership

In [96]:
nodes

,name,degree,pagerank,harmonic_centrality,betweenness,infomap_cluster,multilevel_cluster
vertex ID,,,,,,,
0,30,1,0.000064,0.000064,0.0,0,0
1,4102,1,0.000064,0.000064,0.0,0,0
2,33,1,0.000064,0.000064,0.0,1,1
3,103,1,0.000064,0.000064,0.0,1,1
4,35,2,0.000093,0.000128,1.0,2,2
...,...,...,...,...,...,...,...
15639,26066,1,0.000064,0.000064,0.0,6254,4376
15640,25069,1,0.000064,0.000064,0.0,6254,4376
15641,26068,2,0.000093,0.000128,1.0,6255,4377
15642,26070,1,0.000049,0.000096,0.0,6255,4377
15643,26072,1,0.000049,0.000096,0.0,6255,4377