In [1]:
from sklearn.datasets import load_iris
from sklearn import tree
import pandas as pd
import numpy as np
import os
from six import StringIO

In [2]:
import toad

In [7]:
import graphviz

In [3]:
data = pd.read_csv('credit.csv')

In [4]:
data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,90000,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
2,50000,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
3,50000,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
4,50000,1,1,2,37,0,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,80000,1,2,2,34,2,2,2,2,2,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1
23996,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
23997,30000,1,2,2,37,4,3,2,-1,0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
23998,80000,1,3,1,41,1,-1,0,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
23999,50000,1,2,1,46,0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [5]:
y = data['default'].copy()
x = data.drop(['default'], axis=1).copy()

In [6]:
combiner = toad.transform.Combiner()
combiner.fit(x, y, method='chi', min_samples=0.05)
x_bin= combiner.transform(x)
Dtree = tree.DecisionTreeRegressor(max_depth=3, 
                                   min_samples_leaf=2000, min_samples_split=5000)

dtree = Dtree.fit(x_bin, y)

In [19]:
Dtree = tree.DecisionTreeClassifier(max_depth=3, 
                                   min_samples_leaf=500, min_samples_split=5000)

dtree = Dtree.fit(x_bin, y)

In [31]:
Dtree = tree.DecisionTreeRegressor(max_depth=4, 
                                   min_samples_leaf=2000, min_samples_split=5000)

dtree = Dtree.fit(x_bin, y)

In [32]:
dot_data= tree.export_graphviz(dtree
                     ,feature_names=x.columns
                     ,class_names=['bad_ind']
                     ,filled=True, rounded=True
                     ,special_characters=True)
graph = graphviz.Source(dot_data)
graph.render("ok1")

'ok1.pdf'

In [33]:
pred = dtree.predict(x_bin)

In [34]:
pred

array([0.69859155, 0.17279002, 0.16470126, ..., 0.69859155, 0.33849329,
       0.16470126])

In [35]:
from toad.metrics import KS

In [36]:
KS(pred,y)

0.3756548367944289