In [3]:

import re
#除了换行符\n，其他都匹配出来了
re.findall(r'.','小伍哥\n真帅')

['小', '伍', '哥', '真', '帅']

In [2]:
#在默认模式，匹配除了换行的任意字符。如果指定了标签re.DOTALL，它将匹配包括换行符的任意字符。
re.findall(r'.','小伍哥\n真帅',re.DOTALL)

['小', '伍', '哥', '\n', '真', '帅']

In [8]:
#匹配'a.....c'，五个点表示中间五个字符
re.findall(r'a.....c','abd9匹配cdd')

['abd9匹配c']

[]

用于表示一个字符集合。在一个集合中：

1）字符可以单独列出，比如[amk]匹配'a'，'m'，或者'k'。

In [9]:
re.findall(r'[小帅]','小伍哥真帅')
['小', '帅']

['小', '帅']

2）可以表示字符范围，通过用'-'将两个字符连起来。比如[a-z]将匹配任何小写ASCII字符，[0-5][0-9]将匹配从00到59的两位数字，[0-9A-Fa-f]将匹配任何十六进制数位。如果-进行了转义（比如[a\-z]）或者它的位置在首位或者末尾（如[-a]或[a-]），它就只表示普通字符'-'。

#匹配从00到59的两位数字

In [10]:
re.findall(r'[0-5][0-9]','012234456789')#第一位和第二位分别用一个[]
['01', '22', '34', '45']

['01', '22', '34', '45']

In [13]:
re.findall(r'[1-3]','012234456789')#查找所有1-3之间的自然数
['1', '2', '2', '3']

['1', '2', '2', '3']

3）特殊字符在集合中，失去它的特殊含义。如[(+*)]只会匹配这几个文法字符'(', '+', '*', 或')'。

4）字符类如\w或者\S(如下定义) 在集合内可以接受，它们可以匹配的字符由ASCII或LOCALE模式决定。

5）不在集合范围内的字符可以通过取反来进行匹配。如果集合首字符是'^'，所有不在集合内的字符将会被匹配，比如[^5] 将匹配所有字符，除了'5'，[^^]将匹配所有字符，除了'^'.^如果不在集合首位，就没有特殊含义。

In [12]:
#除了TM都能匹配
re.findall(r'[^TM]','小伍哥真TM帅')
['小', '伍', '哥', '真', '帅']

['小', '伍', '哥', '真', '帅']

|

A|B，A和B可以是任意正则表达式，创建一个正则表达式，匹配A或者B.，任意个正则表达式可以用'|'连接。它也可以在组合（见下列）内使用。扫描目标字符串时，'|'分隔开的正则样式从左到右进行匹配。当一个样式完全匹配时，这个分支就被接受。意思就是，一旦A匹配成功，B就不再进行匹配，即便它能产生一个更好的匹配。或者说'|'操作符绝不贪婪。如果要匹配'|'字符，使用\|，或者把它包含在字符集里，比如[|]。

2、数量元字符

*

对它前面的正则式匹配0到任意次重复，ab*会匹配 'a'，'ab'，'abbb...'，注意只重复b，尽量多的匹配字符串。

In [15]:
re.findall(r'ab*','ababbbbaabbcaacb')

['ab', 'abbbb', 'a', 'abb', 'a', 'a']

In [16]:
#重复.0到任意次，.有代表任意字符，所有d.*c能匹配dc之间包含任意字符
re.findall(r'd.*c','abd9我爱学习cdd')

['d9我爱学习c']

+

对它前面的正则式匹配1到任意次重复。ab+会匹配'a'后面跟随1个以上到任意个'b'，它不会匹配'a'。

In [17]:
re.findall(r'ab+','ababbbbaabbcaacb')

['ab', 'abbbb', 'abb']

?

对它前面的正则式匹配0到1次重复。ab?会匹配'a'或者'ab'。

In [18]:
re.findall(r'ab?','ababbbbaabbcaacb')

['ab', 'ab', 'a', 'ab', 'a', 'a']

*?, +?, ??

'*','+'，和'?'的懒惰模式，'*','+'，'?'修饰符都是贪婪的，它们在字符串进行尽可能多的匹配。
有时候并不需要这种行为。在修饰符之后添加'?'将使样式以非贪婪方式或者dfn最小方式进行匹配，尽量少的字符将会被匹配。

In [19]:
#只匹配了a
re.findall(r'ab*?','ababbbbaabbcaacb')

['a', 'a', 'a', 'a', 'a', 'a']

# 案例

In [1]:
import pandas as pd

提取公司名

In [85]:
se = pd.DataFrame([[111,'上海昌腾机电设备有限公司（销售部）'],[
112,'上海明和超音波股份有限公司(上海嘉定办事处)'],[113,'上海明国(集团)塑胶制品有限公司']],columns=['ID','未清洗公司名'])
se

    ID                  未清洗公司名
0  111       上海昌腾机电设备有限公司（销售部）
1  112  上海明和超音波股份有限公司(上海嘉定办事处)
2  113        上海明国(集团)塑胶制品有限公司

如果要匹配(这样特殊字符要用/(提前转义，[\u4e00-\u9fa5]代表任意汉字，正则表达式里可以用+

In [84]:
se['name'].str.extract('(?P<公司名>[\(\)（）\u4e00-\u9fa5]+有限公司)')

                公司名
0      上海昌腾机电设备有限公司
1     上海明和超音波股份有限公司
2  上海明国(集团)塑胶制品有限公司

提取地址

In [75]:
#三种不同的情况
ad = pd.DataFrame([[111,'江苏省南京市雨花台区桃花路511号'],[
112,'上海市浦东新区梨花路319号'],[113,'河南省郑州市樱花路211号']],columns=['ID','address'])
ad

    ID            address
0  111  江苏省南京市雨花台区桃花路511号
1  112     上海市浦东新区梨花路319号
2  113      河南省郑州市樱花路211号

In [74]:
#可以分别写三种不同的情况进行匹配,?P<xx>负责对生成的表起一个名字
ad['address'].str.extract('(?P<地址精确到路>[\u4e00-\u9fa5]+省+[\u4e00-\u9fa5]+市+[\u4e00-\u9fa5]+区+[\u4e00-\u9fa5]+路|[\u4e00-\u9fa5]+市+[\u4e00-\u9fa5]+区+[\u4e00-\u9fa5]+路|[\u4e00-\u9fa5]+省+[\u4e00-\u9fa5]+市+[\u4e00-\u9fa5]+路)')

          地址精确到路
0  江苏省南京市雨花台区桃花路
1     上海市浦东新区梨花路
2      河南省郑州市樱花路

In [104]:
#也可以按省市区路分开，？加在()后表面对这个子式选择0或1次
newad=ad['address'].str.extract('(?P<省>[\u4e00-\u9fa5]+省)?(?P<市>[\u4e00-\u9fa5]+市)?(?P<区>[\u4e00-\u9fa5]+区)?(?P<路>[\u4e00-\u9fa5]+路)?',expand=True)
#把ID插入回第一列
newad.insert(0,'ID',value=ad['ID'])

In [105]:
newad

    ID    省    市     区    路
0  111  江苏省  南京市  雨花台区  桃花路
1  112  NaN  上海市  浦东新区  梨花路
2  113  河南省  郑州市   NaN  樱花路